{:paths ["src"
         "../../src/main"]
 :deps {org.clojure/clojurescript {:mvn/version "1.10.238"}
        org.clojure/core.async {:mvn/version "0.4.474"}
        org.clojure/spec.alpha {:mvn/version "0.1.143"}
        org.clojure/test.check {:mvn/version "0.10.0-alpha2"}
        sablono {:mvn/version "0.8.3"}
        camel-snake-kebab {:mvn/version "0.4.0"}
        ring {:mvn/version "1.6.3"}}}
